@charset "UTF-8";
@-webkit-keyframes bouncy {
  0% {
    height: 104px;
    width: 104px;
  }
  40% {
    height: 120px;
    width: 120px;
    opacity: .6;
  }
  60% {
    height: 104px;
    width: 104px;
    opacity: .8;
  }
  85% {
    height: 110px;
    width: 110px;
    opacity: .9;
  }
  94% {
    height: 104px;
    width: 104px;
    opacity: 1;
  }
}
@keyframes bouncy {
  0% {
    height: 104px;
    width: 104px;
  }
  40% {
    height: 120px;
    width: 120px;
    opacity: .6;
  }
  60% {
    height: 104px;
    width: 104px;
    opacity: .8;
  }
  85% {
    height: 110px;
    width: 110px;
    opacity: .9;
  }
  94% {
    height: 104px;
    width: 104px;
    opacity: 1;
  }
}

@-webkit-keyframes dot {
  100% {
    -webkit-transform: scale(45);
            transform: scale(45);
    opacity: 0;
    background-color: #3b3be6;
  }
}

@keyframes dot {
  100% {
    -webkit-transform: scale(45);
            transform: scale(45);
    opacity: 0;
    background-color: #3b3be6;
  }
}

.blue-swirl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  padding: 20vw 11px 167px;
  position: relative;
}

.blue-swirl:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10vw 100vw 0 0;
  border-color: #FFF transparent transparent transparent;
}

.blue-swirl:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10vw 100vw;
  border-color: transparent transparent #FFF transparent;
}

.blue-swirl iframe {
  height: 232px;
  width: 298px;
  margin-bottom: 11px;
}

.blue-swirl iframe:last-child {
  margin-bottom: 0;
}

.blue-swirl h2 {
  color: #FFF;
  margin-bottom: 21px;
}

.flat-end.blue-swirl::after {
  border: unset;
}

.novedades {
  padding-bottom: 67px;
}

.novedades h2 {
  text-align: center;
}

@media (min-width: 768px) {
  .blue-swirl {
    padding: 15vw 5% 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blue-swirl iframe {
    width: 40vw;
    max-width: 584px;
    height: 232px;
    margin: unset;
    margin-bottom: 72px;
  }
}

@media (min-width: 1240px) {
  .blue-swirl {
    padding: 186px 100px 167px;
  }
}

.venimos {
  margin-bottom: 54px;
}

.venimos .phone {
  position: relative;
  height: 400px;
}

.venimos .phone img {
  position: absolute;
  width: 320px;
  top: -119px;
}

.venimos .venimos-article {
  width: 90%;
}

.venimos .venimos-article h2 {
  margin: 0 auto 8px auto;
}

@media (min-width: 1024px) {
  .venimos {
    position: relative;
    height: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 200px;
    margin: unset;
  }
  .venimos .phone {
    height: unset;
  }
  .venimos .phone img {
    position: relative;
    top: 0;
    width: 457.6px;
    top: -150px;
  }
  .venimos .venimos-article {
    max-width: 484px;
    margin-top: 24px;
  }
}

.invitadxs h2 {
  margin: 0 auto 14px auto;
}

.coders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.coder-1 {
  overflow: hidden;
  background-image: url("../images/grace-hopper.png");
  width: 100vw;
  height: 75vw;
  background-size: cover;
}

.img-inner-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(rgba(90, 90, 90, 0.75), rgba(0, 0, 0, 0.75));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.img-inner-text a {
  color: #e3e9e9;
}

.coder-1:hover .img-inner-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.coder-2 {
  overflow: hidden;
  background-image: url("../images/Katie-Bouman.png");
  width: 100vw;
  height: 75vw;
  background-size: cover;
}

.img-inner-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(rgba(90, 90, 90, 0.75), rgba(0, 0, 0, 0.75));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.img-inner-text a {
  color: #e3e9e9;
}

.coder-2:hover .img-inner-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.coder-3 {
  overflow: hidden;
  background-image: url("../images/Margaret_Hamilton.png");
  width: 100vw;
  height: 75vw;
  background-size: cover;
}

.img-inner-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(rgba(90, 90, 90, 0.75), rgba(0, 0, 0, 0.75));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.img-inner-text a {
  color: #e3e9e9;
}

.coder-3:hover .img-inner-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.coder-4 {
  overflow: hidden;
  background-image: url("../images/Computer operators with an Eniac — the world’s first programmable general-purpose computer.png");
  width: 100vw;
  height: 75vw;
  background-size: cover;
}

.img-inner-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(rgba(90, 90, 90, 0.75), rgba(0, 0, 0, 0.75));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.img-inner-text a {
  color: #e3e9e9;
}

.coder-4:hover .img-inner-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.coder-5 {
  overflow: hidden;
  background-image: url("../images/An_ERAUnivac_1103_computer_in_the_1950s.png");
  width: 100vw;
  height: 75vw;
  background-size: cover;
}

.img-inner-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(rgba(90, 90, 90, 0.75), rgba(0, 0, 0, 0.75));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.img-inner-text a {
  color: #e3e9e9;
}

.coder-5:hover .img-inner-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.coder-6 {
  overflow: hidden;
  background-image: url("../images/susan-kare.png");
  width: 100vw;
  height: 75vw;
  background-size: cover;
}

.img-inner-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.75)), to(rgba(0, 0, 0, 0.75)));
  background-image: linear-gradient(rgba(90, 90, 90, 0.75), rgba(0, 0, 0, 0.75));
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 2rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.img-inner-text a {
  color: #e3e9e9;
}

.coder-6:hover .img-inner-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 768px) {
  h2 {
    margin: 0 auto 36px auto;
  }
  .coders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .coders div {
    width: 50vw;
    height: 37.5vw;
  }
}

@media (min-width: 1024px) {
  h2 {
    margin: 0 auto 36px auto;
  }
  .coders {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .coders div {
    width: 33.33vw;
    height: 24.9975vw;
  }
}

.temas .tema-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/icon1.svg");
  height: 104px;
  width: 104px;
  background-size: contain;
  background-repeat: no-repeat;
}

.temas .tema-1:hover {
  -webkit-animation: bouncy .4s;
          animation: bouncy .4s;
}

.temas .tema-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/icon2.svg");
  height: 104px;
  width: 104px;
  background-size: contain;
  background-repeat: no-repeat;
}

.temas .tema-2:hover {
  -webkit-animation: bouncy .4s;
          animation: bouncy .4s;
}

.temas .tema-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/icon3.svg");
  height: 104px;
  width: 104px;
  background-size: contain;
  background-repeat: no-repeat;
}

.temas .tema-3:hover {
  -webkit-animation: bouncy .4s;
          animation: bouncy .4s;
}

.temas .tema-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../images/icon4.svg");
  height: 104px;
  width: 104px;
  background-size: contain;
  background-repeat: no-repeat;
}

.temas .tema-4:hover {
  -webkit-animation: bouncy .4s;
          animation: bouncy .4s;
}

.temas h2 {
  margin: 48px auto 24px auto;
}

.temas .temas-cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.temas .temas-cells .cell {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 65px;
  width: 260px;
}

.temas .temas-cells .cell .img-container {
  position: relative;
  height: 130px;
  width: 130px;
}

.temas h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  margin-top: 12px;
}

@media (min-width: 1024px) {
  .temas {
    padding: 64px 200px 34px;
  }
  .temas h2 {
    width: unset;
  }
  .temas .temas-cells {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .temas .temas-cells .cell {
    position: relative;
    width: 260px;
    margin: 0;
  }
  .temas .temas-cells .cell .img-container {
    position: relative;
    height: 130px;
    width: 130px;
  }
  .temas .temas-cells .cell h3 {
    font-size: 24px;
    text-align: center;
    padding-top: unset;
    margin-top: unset;
  }
}

footer {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

footer p {
  text-align: center;
}

footer .social-media {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

@media (min-width: 1024px) {
  footer {
    margin: 0px 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    text-align: left;
  }
  footer .social-media {
    width: 15vw;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

* {
  margin: 0 auto;
}

body {
  color: #060A24;
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.first-stripe {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  height: 44px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 90%;
}

.second-stripe .line-break {
  display: block;
}

.second-stripe p {
  margin-top: 8px;
  margin-bottom: 36px;
}

h1 {
  font-size: 36px;
  margin-top: 29px;
  margin-bottom: 36px;
}

h2 {
  font-size: 36px;
}

.crossed {
  text-decoration: line-through;
}

.dot-container {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 8px;
  vertical-align: baseline;
}

#dot {
  position: absolute;
  bottom: 0;
  right: 8px;
  height: 8px;
  width: 8px;
  background-color: #0000EC;
  border-radius: 50%;
  -webkit-animation: dot 2.5s;
          animation: dot 2.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

p {
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
  width: 90%;
}

.description-lg {
  display: none;
}

a {
  text-decoration: none;
  color: #060A24;
}

#logo {
  margin: 0;
  padding: 8px 0px 8px 16px;
}

label {
  padding: 8px 16px 8px 0;
  display: block;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  line-height: 28px;
}

#toggle {
  display: none;
}

.botonera {
  width: 100%;
  display: none;
}

.botonera a {
  display: block;
  margin-left: 5%;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  color: #FFF;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.botonera a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

#toggle:checked + .botonera {
  display: block;
  background-color: #0000EC;
  height: 224px;
  color: #FFF;
}

.conoce-mas, .escucha {
  display: block;
  width: 90vw;
  text-transform: uppercase;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #00F0B8), to(#0000FE));
  background-image: linear-gradient(90deg, #00F0B8 20%, #0000FE);
  background-size: 500%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.conoce-mas:hover, .escucha:hover {
  color: #FFF;
  background-size: 100%;
}

@media (min-width: 768px) {
  .conoce-mas {
    display: block;
    width: 50vw;
    text-transform: uppercase;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #00F0B8), to(#0000FE));
    background-image: linear-gradient(90deg, #00F0B8 20%, #0000FE);
    background-size: 500%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .conoce-mas:hover {
    color: #FFF;
    background-size: 100%;
  }
  .escucha {
    display: block;
    width: 50vw;
    text-transform: uppercase;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #00F0B8), to(#0000FE));
    background-image: linear-gradient(90deg, #00F0B8 20%, #0000FE);
    background-size: 500%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .escucha:hover {
    color: #FFF;
    background-size: 100%;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  header .first-stripe {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .first-stripe #logo img {
    height: 36px;
  }
  header .first-stripe label {
    display: none;
  }
  header .first-stripe .botonera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .first-stripe .botonera a {
    color: #000;
    margin: unset;
    margin-right: 48px;
    font-size: 1rem;
    width: auto;
  }
  header .first-stripe .botonera a:last-of-type {
    margin-right: 0;
  }
  header .first-stripe .botonera a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header .first-stripe .botonera a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  header .description {
    display: none;
  }
  header .description-lg {
    display: block;
  }
  header .second-stripe {
    padding: 120px 200px 0;
    text-align: left;
  }
  header .second-stripe h1, header .second-stripe p, header .second-stripe a {
    margin: unset;
  }
  header .second-stripe .line-break {
    display: none;
  }
  .conoce-mas {
    display: block;
    width: 226px;
    text-transform: uppercase;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #00F0B8), to(#0000FE));
    background-image: linear-gradient(90deg, #00F0B8 20%, #0000FE);
    background-size: 500%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .conoce-mas:hover {
    color: #FFF;
    background-size: 100%;
  }
  .escucha {
    display: block;
    width: 345px;
    text-transform: uppercase;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #00F0B8), to(#0000FE));
    background-image: linear-gradient(90deg, #00F0B8 20%, #0000FE);
    background-size: 500%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .escucha:hover {
    color: #FFF;
    background-size: 100%;
  }
}
/*# sourceMappingURL=style.css.map */