
.blue-swirl {
  box-sizing: border-box;
  background-image: linear-gradient(#0000FF, #0000A3);
  padding: 20vw 11px 167px;
  position: relative;

  &:before {
    @include blue-swirl-pseudos(10vw 100vw 0 0, #FFF transparent transparent transparent);
    top: 0;
    // border-width: 10vw 100vw 0 0;
    // border-color: #FFF transparent transparent transparent;

  }

  &:after {
    @include blue-swirl-pseudos(0 0 10vw 100vw, transparent transparent #FFF transparent);
    bottom: 0;
    border-width: 0 0 10vw 100vw;
    // border-color: transparent transparent #FFF transparent;
  }

  iframe {
    height: 232px;
    // margin-bottom:-36px;
    width:93.125vw;
    // width: 298px;
    // margin-bottom: 11px;

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }

  h2 {
    color: #FFF;
    margin-bottom: 21px;
  }
}

.flat-end.blue-swirl {
  padding-bottom: 151px;

  &::after {
    border: unset;
  }
}

.novedades {
  padding-bottom: 67px;

  h2 {
    text-align: center;
  }
}


@media(min-width:768px) {

  .blue-swirl {
    padding: 15vw 5% 15vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h2 {
      width: 100%;
    }

    iframe {
      width:40vw;
      max-width: 584px;
      height: 232px;
      margin: unset;
      margin-bottom: 72px;
    }
  }
}

@media(min-width:1240px) {
  .blue-swirl {
    padding: 186px 100px 167px;
  }
}