.burger__input {
  display: none;
}

.burger-label {
z-index: 11000;
background-color: transparent;
cursor: pointer;
}

.burger-lines {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;

transition: transform .15s cubic-bezier(.25,.01,.75,1);
}

.burger-line {
display: block;

width: 1em;
height: .15em;

margin-top: .08em;
margin-bottom: .08em;
border-radius: 0.1em;

background-color: (#000);

transition: all .15s cubic-bezier(.25,.01,.75,1);
}


.burger-label-rotatecross .burger-line:nth-child(2) {
transition: width .15s cubic-bezier(.25,.01,.75,1);
}

.burger-label-rotatecross .burger-line:nth-child(1),
.burger-label-rotatecross .burger-line:nth-child(3) {
transition-delay: .15s;
}

.burger__input:checked ~ .burger-label-rotatecross .burger-line:nth-child(2) {
width: 0;
transition-delay: calc( .15s * 0);
}

.burger__input:checked ~ .burger-label-rotatecross .burger-line:nth-child(1),
.burger__input:checked ~ .burger-label-rotatecross .burger-line:nth-child(3) {
transition-delay: .15s;
}

.burger__input:checked ~ .burger-label-rotatecross .burger-line:nth-child(1) {
transform: translateY( calc( .15em + .08em * 2 ) );
}

.burger__input:checked ~ .burger-label-rotatecross .burger-line:nth-child(3){
transform: 
  translateY(calc( calc( .15em + .08em * 2 ) * -1 ))
  rotate(90deg)
  ;
}

.burger__input:checked ~ .burger-label-rotatecross .burger-lines {
transition: all .15s cubic-bezier(.25,.01,.75,1);
transition-delay: calc( .15s * 2 );
transform: rotate(calc( 45 * 1deg ));
}
