.invitadxs {
  h2 {
    margin: 0 auto 14px auto;
  }
}

.coders {
  display: flex;
  flex-direction: column;
}

@each $order, $coder in $coders {
  .coder-#{$order} {
    overflow: hidden;
    background-image: url($coder);
    width: 100vw;
    height: 100vw*.75;
    background-size: cover;
  }

  .img-inner-text {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(rgba(90,90,90, 0.75), rgba(0,0,0, 0.75));
    transform: translateY(100%);
    font-size: 2rem;

    a {
      color: rgb(227, 233, 233);
    }
  
    transition:transform .5s;
  }
  
  .coder-#{$order}:hover .img-inner-text {
    transform: translateY(0);
  }
}

@media(min-width:768px) {

  h2 {
    margin: 0 auto 36px auto;
  }
  .coders {
    flex-direction: row;
    flex-wrap: wrap;

    div {
      width: 50vw;
      height: 50vw*.75;
    }
  }
}

@media(min-width:1024px) {

  h2 {
    margin: 0 auto 36px auto;
  }
  .coders {
    flex-direction: row;
    flex-wrap: wrap;

    div {
      width: 33.33vw;
      height: 33.33vw*.75;
    }
  }
}
