.novedades {.blue-twist-inner {
  padding: unset;
  
      &::after {
      display: none;
    }
  }}

@media(min-width:1024px){
  .novedades.blue-twist{
    padding-top: 12vw;
    padding-bottom: 12vw;
  
  .blue-twist-inner {
    padding: unset;
    
      h2 {
        margin: 36px auto;
        width: 100%;
        text-align: center;
      }

      &:before {
        top:-12vw;
      }

      &:after {
        display: none;
      }
    }

    .green-button {
      height: 56px;
      line-height: 56px;
      width: 345px;
    }


  }
}