* {
  margin: 0 auto;
}

.container {
  overflow-x: hidden;
}

body {
  color: $dark;
  font-family: $font-normal;
  width: 100%;
}

header {
  width: 90%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding-bottom: 24px;
}

.first-stripe {
  height: 44px;
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  height: 44px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3 {
   font-family: $font-title;
  font-weight: 400;
}

.second-stripe {
  .line-break {
    display: block;
  }

  .description {
    margin-top: 16px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 22px;
  }
}

h1 {
  font-size: 36px;
  margin-top: 29px;
  // margin-bottom: 36px;
}

h2 {
  font-size: 36px;
}

.crossed {
  text-decoration: line-through;
  &:hover {
    text-decoration-color: #0000EC;
  }
}

.dot-container {
  position: relative;
  display: inline-block;
  height:36px;
  width: 8px;
  vertical-align: baseline;
}

#dot {
  position: absolute;
  bottom:-.5px;
  right:8px;
  height:5.5px;
  width: 5.5px;
  background-color: $dark;
  border-radius: 50%;
  z-index: -1;

  animation: dot 2.5s;
  animation-delay: 1s;
}



.description-lg {
  display: none;
}

a {
  text-decoration: none;
  color: #060A24;
}

#logo {
  padding-right: .5rem;
  padding-top: .5rem;
    margin: 0;
}

label {
  display: block;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  line-height: 28px;
}

.botonera {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100vw;
  height:224px;

  display: block;
  background-color: #0000EC;
  color: #FFF;
  transform:translateY(-268px);
  opacity: 0;

  transition: all .5s $easeing;
}

.botonera a {
  display: block;
  margin-left: 5%;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  color: #FFF;
  transition: color .3s;

  &:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
}

#burger__input:checked ~ .botonera {
  transform: translateY(0);
  opacity: 1;
}

.conoce-mas, .escucha {
  @include green-button(48px, 100%);
}

@media(min-width:768px) {
  .conoce-mas{
    @include green-button(56px, 50vw);
  }
 
  .escucha{
    @include green-button(56px, 50vw);
  }
}

@media(min-width:1024px) {

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  header {

  width: 100%;
  .first-stripe {
      height: 80px;
      display: flex;
      flex-direction: row;
      padding: 0 100px;
      align-items: center;


      #logo {
      
        padding: unset;
        flex-grow: 1;

        img {
          height: 36px;
        }
     }
    
    label {
      display: none;
    }

    .botonera {
      display: flex;
      width: auto;
      justify-content: flex-end;
      align-items: center;

      transform: unset;
      opacity: unset;
      transition: unset;
      height: auto;
      background-color: unset;
      position: unset;
      top: unset;

      a {
        color: #000;
        margin: unset;
        margin-right:48px;
        font-size: 1rem;
        width: auto;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          color: #00F3BB;
          text-decoration: line-through;
        }

        &:active {
          color: rgba(6, 10, 36, .56);
          text-decoration: line-through;
        }
      }
    }
  

  }
  .description {
    display: none;
  }
  
  .description-lg {
    display: block;
    margin: unset;
    margin-bottom: 72px;
    width: 628px;
  }

  .second-stripe {  

    padding: 120px 200px 0;
    text-align: left;

    h1, a {
      margin:unset;
    }

    .line-break {
      display: none;
    }
  }

  
#dot {
  position: absolute;
  bottom:0;
  right:8px;
  height:8px;
  width: 8px;
  background-color: #0000EC;
  border-radius: 50%;

  animation: dot 2.5s;
  animation-delay: 1s;
}

  }

  .conoce-mas{
    @include green-button(56px, 226px);
  }
 
  .novedades {

    h2 {
      width: 100%;
      margin-bottom: 36px;
    }
    .escucha{
      @include green-button(56px, 345px);
    }
  }
  
  }



