
.temas {
  @include icons-display($icons);

  h2 {
    margin: 48px auto 24px auto;
    width: 90%;
  }
  
  .temas-cells {
    display: flex;
    flex-direction: column;

    .cell {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto 65px;
      width: 260px;

      .img-container {
        position: relative;
        height: 130px;
        width: 130px;
      }
    }
  }

  h3 {
    font-weight: 800;
    margin-top: 12px;
  }

}


@media(min-width:768px) {

  .temas {
    padding: 64px 100px 34px;

    h2 {
      width: unset;
    }

    .temas-cells {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .cell {
        width: 260px;
        margin: 0;

        h3 {
          font-size: 24px;
          text-align: center;
          padding-top: unset;
          margin-top: unset;
        }
      }
    }
  }
}

@media(min-width:1024px) {

  .temas {
    padding: 64px 200px 34px;
  }
}