$embeds: ("1": "../images/embed1_.png", "2": "../images/embed2_.png", "3": "../images/embed3_.png", "4": "../images/embed4.png");

$embeds-lg: ("1": "../images/embed1.png", "2": "../images/embed2.png", "3": "../images/embed3.png", "4": "../images/embed4.png");

$coders: ("1": "../images/grace-hopper.png", "2": "../images/Katie-Bouman.png", "3": "../images/Margaret_Hamilton.png", "4": "../images/Computer operators with an Eniac — the world’s first programmable general-purpose computer.png", "5": "../images/An_ERAUnivac_1103_computer_in_the_1950s.png", "6": "../images/susan-kare.png" );

$icons: ("1": "../images/icon1.svg", "2": "../images/icon2.svg", "3": "../images/icon3.svg", "4": "../images/icon4.svg");

$botonera-easeing: cubic-bezier(.25,.01,.75,1);

