.venimos {

  .phone {
    position: relative;
    height: 400px;
    
    img {
      position: absolute;
      width: 320px;
      top: -119px;
    }
  }

  .venimos-article {
    width: 90%;

    h2 {
      margin: 0 auto 8px auto;
    }
  }

  margin-bottom: 54px;
}

// @media(min-width: 768px) {
//   .venimos {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }

@media(min-width:1024px) {
  .venimos {
    position: relative;
    height:500px;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 100px;
    margin: unset;


    .phone {
      height: unset;
      img {
        position: relative;
        width: 350px;
        top: -150px;
      }
    }

    .venimos-article {
      max-width: 484px;
      margin-top: 24px;
    }
  }
}

@media(min-width:1440px) {
  .venimos {
    height:564px;
    padding: 0 200px;


    .phone {
      img {
        height:660px;
        width: auto;
      }
    }
  }
}

